:root {
  --color-life: #c96e6e;
  --color-fire: #ff9a77;
  --color-light: #f8cb76;
  --color-ice: #93d8ff;
  --color-gem: #a38d6d;
  --color-caster: #b3f8fe;
  --color-attack: #da814d;
  --color-physical: #c79d93;
  --color-speed: #cfeea5;
  /* fangyu/kangxing/shuxing */
  --color-defences: #a88f67;
  --color-chaos: #d8a7d3;
  /* baoji */
  --color-critical: #b2a7d6;
  --color-mana: #a2cffb;
  /* zhaohuan */
  --color-minion: #dee2e6;
  --color-uniqe: #af6025;
  --color-cr: #ff0000;
}