:root {
  /* 基础色 */
  --color-primary: 155 86 252;
  /* --color-primary: 133 11 112; */
  --color-success: 48 150 48;
  --color-info: 28 177 249;
  --color-warning: 255 178 2;
  --color-danger: 217 83 79;
  --color-brown: 90 56 6;
  --color-blue: 15 48 77;
  /* 深色 */
  --color-black: 0 0 0;

  --color-dark: 30 33 36;
  /* 浅色 */
  --color-white: 255 255 255;
  --color-gray: 153 153 153;
  /* 主题 */
  --foreground: 226 226 226;
  --background: 30 33 36;

}